<h1>About Me</h1>
<div class="line2"></div>
<br>
<p>I'm Creative Director and UI/UX and MERN Developer from Bihar, Bhagalpur, workingin web development and point media. I enjoy turning complex problems into simple, beautiful and intutive designs.</p>
<br>
<p>My job is to build your website so that it is functional and user-friendly but at the same time attractive. Moreover, I add personal touch to your product and make sure that is eye-catching and easy to use. My aim is to bring acroos your message identity in the most creative way. I created web rocket for many famoud brand companies</p>
<br>
<h1>What I'm Doing</h1>
<div class="about-box-main-wrapper">

<div class="box-main">
<div class="bm-f"><img src="https://cdn-icons-png.flaticon.com/512/7889/7889802.png" alt="" width="60px"></div>
<div class="bm-s">
    <h3>Web Design</h3>
    <p>The most modern and high-quality design made at a professional level.</p>
</div>
</div>

<div class="box-main">
<div class="bm-f"><img src="https://cdn-icons-png.flaticon.com/512/2010/2010990.png" alt="" width="60px"></div>
<div class="bm-s">
    <h3>Web Development</h3>
<p>High-quality development at sites at the professional level.</p>
</div>
</div>

<div class="box-main">
<div class="bm-f"><img src="https://cdn-icons-png.flaticon.com/512/5392/5392882.png" alt="" width="60px"></div>
<div class="bm-s">
    <h3>Solving CTF</h3>
<p>I like to solve ctf problems and finding flags on it.</p>
</div>
</div>


<div class="box-main">
<div class="bm-f"><img src="https://cdn-icons-png.flaticon.com/512/3004/3004613.png" alt="" width="60px"></div>
<div class="bm-s">
    <h3>Photography</h3>
<p>I make high-quailty photos of any catagory at a professional level.</p>
</div>
</div>
</div>
