<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Lakshya. </title>
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>

  <div id="main">

    <div id="cursor"></div>
    <header>
      <nav>
        <div class="n-first">
          <h1>Portfolio</h1>
        </div>
        <div class="n-second">
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <div class="page1">
        <div class="pf-container">
          <h1>Hello, I'm <br><span>Lakshya</span></h1>
          <p>A newbie fresher developer creating modern web experiences with clean code and thoughtfull design. </p>
          <div class="pf-button-wrapper">
            <a href="#" id="viewW">View My Work</a>
            <a href="#" id="touchW">Get In Touch</a>
          </div>
        </div>
      </div>
      <div class="page2">
        <div class="ps-container">
          <h1>About me</h1>
          <div class="ps-wrapper">
            <div class="ps-first">
              <p>I'm a recent Commerce graduate with a deep interest in web development. My coding journey began during
                college when I started exploring HTML and CSS out of curiosity. Over time, I fell in love with
                JavaScript and React, and now I enjoy building clean, responsive, and user-friendly web interfaces.</p>
              <p>I specialize in modern frontend tools and aim to build websites that are not just beautiful but also
                functional and accessible. I'm currently looking for a exprience.</p>
              <p>When I'm not coding, I enjoy learning about new tech, improving my skills, and working on personal
                projects that challenge me.</p>
            </div>
            <div class="ps-second">
              <h2>Skills & Technologies</h2>
              <div class="tech-wrapper">
                <div class="techw">
                  <i class="fa-brands fa-js"></i>
                  <p>Javascript </p>
                </div>
                <div class="techw">
                  <i class="fa-brands fa-node"></i>
                  <p>Node JS</p>
                </div>
                <div class="techw">
                  <i class="fa-brands fa-html5"></i>
                  <p>HTML5</p>
                </div>
                <div class="techw">
                  <i class="fa-brands fa-css3"></i>
                  <p>CSS3</p>
                </div>
                <div class="techw">
                  <i class="fa-brands fa-github"></i>
                  <p>Git and Github</p>
                </div>
                <div class="techw">
                  <i class="fa-solid fa-e"></i>
                  <p>Express</p>
                </div>
                <div class="techw">
                  <i class="fa-brands fa-bootstrap"></i>
                  <p>Tailwind and Bootstrap</p>
                </div>
              </div>
              <h2 id="education">Education</h2>
              <div class="p2-box">
                <h3>Class 1-8</h3>
                <p>H.S Mathurapur</p>
                <p>2017-2025</p>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="page3">
        <h1>Featured Projects</h1>
        <p>Here are some of my recent projects taht showcase my skills in web development and problem-solving.</p>
        <div class="p3-container">
        </div>
      </div>
      <div class="page4">
        <h1>Get In Touch</h1>
        <p>I'm always interested in hearing about new opportunities and projects. Let's connect and discuss how we can
          work together.</p>
        <div class="p4Container">
          <div class="p4first">
            <h2>Contact Information</h2>
          </div>
          <div class="p4Second">
            <div class="form"></div>
          </div>
        </div>
      </div>
    </main>
    <footer>

    </footer>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/gsap.min.js"
    integrity="sha512-NcZdtrT77bJr4STcmsGAESr06BYGE8woZdSdEgqnpyqac7sugNO+Tr4bGwGF3MsnEkGKhU2KL2xh6Ec+BqsaHA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/@studio-freight/lenis@1.0.42/dist/lenis.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/ScrollTrigger.min.js"
    integrity="sha512-P2IDYZfqSwjcSjX0BKeNhwRUH8zRPGlgcWl5n6gBLzdi4Y5/0O4zaXrtO4K9TZK6Hn1BenYpKowuCavNandERg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/js/home.js"></script>
</body>

</html>
