<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link href="css/linktree.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <div id="main">
    <div class="container">
      <div class="first">
        <img src="https://avatars.githubusercontent.com/u/208636819?v=4" alt="img">
      </div>
      <div class="second">
        <h1>Lakshya</h1>
        <p id="city">Bhagalpur, India</p>
        <p>MERN Developer</p>
      </div>
      <div class="three">
        <a href="https://www.github.com/lakshya-sinha"><i class="fa-brands fa-github"></i> Github</a>
        <a href="https://www.linkedin.com/in/lakshya-sinha-a69030344/"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
        <a href="#"><i class="fa-brands fa-x-twitter"></i> Twitter-X</a>
        <a href="https://tryhackme.com/p/like.lakshya"><i class="fa-solid fa-hat-cowboy"></i> Try Hack Me!</a>
        <a href="https://discord.gg/k6ws64bSUN"><i class="fa-brands fa-discord"></i> Discord</a>
        <a href="https://portfolio-two-ruby-gogffgs5ja.vercel.app/"><i class="fa-solid fa-link"></i> Portfolio</a>
      </div>
    </div>
  </div>
  </div>
</body>

</html>
